<h4>{{localizeText toc}}</h4>
<div class="btn-group-vertical" style="display:block; padding:5px">
    {{#each prompts}}
        {{#unless hideInContents}}
            <a href="#" class="select-contents-item launch btn btn-default" label="{{_branch_label_enclosing_screen}}" tabindex="0" style="padding:10px">
                {{#ifHasTextLocalization display.prompt}}
                    <div class="h4 contents-heading">
                        {{localizeTextSafe display.prompt}}
                    </div>
                {{else}}
                    {{#ifHasTextLocalization display.title}}
                        <div class="h4 contents-heading">
                            {{localizeTextSafe display.title}}
                        </div>
                    {{/ifHasTextLocalization}}
                {{/ifHasTextLocalization}}
                <span class="glyphicon glyphicon-chevron-right pull-right center-in-contents"></span> 
                <p class="contents-description">{{formattedValueForContentsDisplay}}</p>
            </a>
        {{/unless}}
    {{/each}}
</div>
